// Importar variables globales
@use '../variables' as *;
@use '../_mixins' as *;

// Reset y estilos base
@use './reset' as *;

// Estilos del layout
//@use './layout' as *;

// Componentes
@use './components/_admin-layout' as *;

// Páginas
@use './pages/dashboard' as *;

// Estilos globales
:global {
  .badge {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
  }
}