@use 'sass:color';
@use 'variables' as *;
@use 'mixins' as *;

// Reset
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  color: #333;
  background-color: $color-blanco-calido;
  margin: 0px;
}

// Tipografía base
h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

p {
  margin-bottom: $spacing-md;
}

a {
  color: $color-violeta;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: color.scale($color-violeta, $lightness: -23.1117824773%);
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Utilidades comunes
.container {
  @include container;
}

.text-center {
  text-align: center;
}

.section {
  @include section-padding;
}