---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Inicio">
  <Header />
  <main>
    <Hero />
    <Servicios />
  </main>
  <Footer />
</BaseLayout>

<style lang="scss">
  @use '../styles/base.scss';
</style>
