---
import Header from '@/components/ui/Header';

// Importamos los estilos
import '../../styles/main.scss';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="header-wrapper">
  <Header client:load />
</div>

<main id="main-content" role="main" tabindex="-1">
  <h1 class="admin-page-title">{title}</h1>
  <slot />