---
---
<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Hilo Mágico</h1>
      <p class="hero__slogan">Moda a tu medida, creada con magia</p>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/components/hero.scss';
</style>